<div id="divTablaResultados" *ngIf="AccionABMC == 'L' && Lista?.length > 0">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th class="text-center">EquipoNombre</th>
				<th class="text-center">EquipoRanking</th>
				<th class="text-center">IdEquipo</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let dto of Lista">
				<td>{{dto.EquipoNombre | uppercase}}</td>
        <td class="text-right">{{dto.EquipoRanking}}</td>
				<td class="text-right">{{dto.IdEquipo}}</td>
			</tr>
		</tbody>
	</table>
  <button class="btn btn-primary" (click)="Agregar()">
            <span class="fas fa-plus"> </span> 
            Agregar
        </button>
</div>

<form name="FormReg" [formGroup]='FormReg' *ngIf="AccionABMC != 'L'" class="bg-light">

	<fieldset [disabled]="AccionABMC==='C'">
		<!--campo nombre-->
		<div class="form-group row">
			<label class="col-form-label col-sm-2 col-sm-offset-2" for="EquipoNombre">EquipoNombre <span
                    class="text-danger">*</span></label>
			<div class="col-sm-6">
				<input type="text" class="form-control" formControlName="EquipoNombre" 
         [ngClass]="{'is-invalid': (FormReg.controls.EquipoNombre.touched || submitted)  
            && FormReg.controls.EquipoNombre.errors}" />

				<span class="text-danger" *ngIf="(FormReg.controls.EquipoNombre.touched || submitted) 
                        && FormReg.controls.EquipoNombre.errors?.required">
                    Dato requerido.
                </span>
                <span class="text-danger" *ngIf="(FormReg.controls.EquipoNombre.touched || submitted) 
                       && (FormReg.controls.EquipoNombre.errors?.minlength || FormReg.controls.EquipoNombre.errors?.maxlength) ">
                    Dato texto, 4 a 55 caracteres.
                </span>
                
			</div>
		</div>

		<!--campo EquipoRanking-->
		<div class="row form-group">
			<label class="col-form-label col-sm-2 col-sm-offset-2" for="EquipoRanking">EquipoRanking <span
                    class="text-danger">*</span></label>
			<div class="col-sm-6">
				<input type="text" name="EquipoRanking" class="form-control" formControlName="EquipoRanking"
            [ngClass]="{'is-invalid': (FormReg.controls.EquipoRanking.touched || submitted)  
            && FormReg.controls.EquipoRanking.errors}" />
				<span class="text-danger" *ngIf="(FormReg.controls.EquipoRanking.touched || submitted) 
                       && FormReg.controls.EquipoRanking.errors?.required">
                    Dato requerido.
                </span>
				<span class="text-danger" *ngIf="(FormReg.controls.EquipoRanking.touched || submitted) 
               && FormReg.controls.EquipoRanking.errors?.pattern">
                    Dato numérico, 1 a 7 dígitos.
                </span>
			</div>
		</div>


	</fieldset>

	<!-- Botones Grabar, Cancelar/Volver' -->
	<div class="row justify-content-center">
		<button *ngIf="AccionABMC!=='C'" class="btn btn-primary" (click)="Grabar()">
            <span class="fas fa-check"></span> Grabar
        </button>
		&nbsp;
		<button class="btn btn-warning" (click)="Volver()">
            <span class="fas fa-undo"></span> {{AccionABMC=='C' ? 'Volver' : 'Cancelar'}}
        </button>
	</div>

	<!--texto: Revisar los datos ingresados...-->
	<div id="divMsjFormRegistro" *ngIf="submitted && FormReg.invalid" class="row alert alert-danger">
		<span class="fas fa-exclamation-sign"></span>Revisar los datos ingresados...
	</div>

</form>